.ui-counter-title {
  font-weight: 500;
}

.ui-counter-count {
  background-color: var(--background-200);
  border: 1px solid var(--background-200);
  border-radius: var(--radius-300);
  font-size: 1rem;
  min-width: 56px;
  padding: 0.75rem 0.25rem;
  text-align: center;
}
